<br>
<div class="container-fluid bootstrap snippet">
    <div class="row">
        <div class="col-sm-10">
            <h1 class="profile-h1 text-left">{{bills.email}}
                <img title="profile image" class="img-responsive profile-img" src="/images/user-sm.png"></a></h1>

        </div>
        <div class="col-sm-2">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-2">
            <!--left col-->

            <ul class="list-group">
                <li class="list-group-item bg-success"><b>General Information</b></li>
                <li class="list-group-item text-center"><span class="pull-left"><strong>Bills </strong></span><i
                        class="fas fa-file-invoice-dollar"></i> {{bills.totalBills}}</li>
                <li class="list-group-item text-center"><span class="pull-left"><strong>Total </strong></span> <i
                        class="fas fa-dollar-sign"></i> {{bills.totalPrice}}</li>

            </ul>



            <ul class="list-group">
                <li class="list-group-item bg-success"><b>Actions </b><i class="fa fa-dashboard fa-1x"></i></li>
                <li class="list-group-item text-center"><span class="pull-left"><strong><a class="text-dark"
                                data-toggle="modal" data-target="#addNewBillModal" href="">Add a Bill </strong></span><i
                        class="far fa-plus-square"></i></li></a>
                <li class="list-group-item text-center"><span class="pull-left"><strong><a class="text-dark"
                                href="/billDetail">Details </strong></span><i class="fas fa-search-dollar"></i> </li>
                </a>
                <li class="list-group-item text-center"><span class="pull-left"><strong><a class="text-dark"
                                href="/billChart">Charts </strong></span><i class="fas fa-chart-line"></i> </li></a>

            </ul>



        </div>
        <!--/col-3-->
        <div class="col-sm-9">

            <ul class="nav nav-tabs" id="myTab">

            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="">
                                <tr class="bg-success">
                                    <th>#</th>
                                    <th>Company</th>
                                    <th>Bill Type</th>
                                    <th>Amount Due</th>
                                    <th>Date Due</th>
                                    <th>Cycle</th>
                                    {{!-- <th>Added</th> --}}
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="items">

                                {{#each bills}}
                                <tr>
                                    <td>{{inc @index}}</td>
                                    <td>{{name}} </td>
                                    <td>{{billtype}}</td>
                                    <td>${{amount}}</td>
                                    <td>{{duedate}}</td>
                                    <td>{{datecycle}}</td>
                                    <td>
                                        {{!-- <a data-toggle="modal" data-target="#editBillModal"> <button type="button" class="btn btn-secondary" id="{{@index}}">Edit</button></a> --}}
                                    </td>
                                    <td>
                                        <a href='/deleteBill/{{this._id}}'> <button type="button"
                                                class="btn btn-secondary">Delete <i class="fas fa-ban"></i></button></a>
                                    </td>

                                </tr>
                                {{/each}}

                            </tbody>
                        </table>
                        <hr>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4 text-center">
                                <ul class="pagination" id="myPager"></ul>
                            </div>
                        </div>
                    </div>
                    <!--/table-resp-->

                    <hr>

                </div>
                <!--/tab-pane-->

                <!--/tab-pane-->
            </div>
            <!--/tab-content-->

        </div>
        <!--/col-9-->
    </div>
    <!--/row-->
    <div class="container">

        <div class="page-header text-center">
            <a href="/logout" class="fas fa-sign-out-alt btn-sm"> Logout</a>
        </div>





        {{!-- Add new Bill Modal --}}
        <div class="modal fade" id="addNewBillModal" tabindex="-1" role="dialog" aria-labelledby="addNewBillModalTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Add a Bill</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        {{!-- New Bill Form --}}
                        <form action="/createBill" method="POST" id="newBill">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Company Name: </label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" name="name">
                            </div>

                            <div class="form-group">
                                <label>Bill Amount: </label>
                                <input type="text" class="form-control" name="amount">
                            </div>

                            <div class="form-group">
                                <label>Bill Type:</label>
                                <select class="form-control" name="billtype">
                                    <option>Mortgage / Rent</option>
                                    <option>Utilities</option>
                                    <option>Entertainment</option>
                                    <option>Food</option>
                                    <option>Insurance</option>
                                    <option>Car</option>
                                    <option>Credit Cards</option>
                                    <option>Other</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label> Bill Cycle: </label>
                                <select class="form-control" name="datecycle">
                                    <option>Daily</option>
                                    <option>Weekly</option>
                                    <option>Bi-Weekly</option>
                                    <option>Monthly</option>
                                    <option>Quarterly</option>
                                    <option>Bi-Annually</option>
                                    <option>Yearly</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Due Date: (ie. May 30) </label>
                                <input type="text" class="form-control" name="duedate">
                            </div>

                            <div class="form-group">
                                <label>Notes:</label>
                                <textarea class="form-control" rows="4" name="notes"></textarea>
                            </div>

                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary btn-success" form='newBill'>Save changes</button>
                    </div>
                </div>
            </div>
        </div>